.message-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 0;

  .message-input-field {
    flex: 1;
    margin-right: 8px;
  }

  .send-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 1.25rem;

    mat-icon {
      margin-left: 2px;
    }
  }
}
