
:host {
  flex-grow: 1;
  min-height: 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.intro-image-container {
  min-height: 40%;
  max-height: 40%;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background-image: linear-gradient(
        to top,
        rgba(#303030, 1) 0%,
        rgba(#303030, 0.8) 15%,
        rgba(#303030, 0.4) 40%,
        rgba(#303030, 0) 100%
    );
  }

  .intro-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.intro-text {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 1rem;
  margin: 1.5rem 0.5rem 125px 0.5rem;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  white-space: pre-wrap;

  p {
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  width: 100%;

  .continue-button {
    //width: 60%;
    padding: 20px 50px;
    border-radius: 50px;
    margin-bottom: 0.5rem;
    font-size: large;
  }

  .skip-button {
    text-decoration: underline;
    font-size: large;
    font-weight: 300;
  }
}

.hidden {
  display: none;
}
