
<div class="intro-container">
  <div class="intro-image-container">
    <ng-container *ngFor="let step of introContent; let i = index">
      <div *ngIf="i === currentIndex" @fadeInOut>
        <img [src]="'assets/intro/' + introContent[currentIndex].image + '.jpg'" class="intro-image" alt="Intro image" />
      </div>
    </ng-container>
  </div>
  <div class="intro-text">
    <ng-container *ngFor="let step of introContent; let i = index">
      <div *ngIf="i === currentIndex" @slideInOut class="intro-text-inner">
        <p *ngFor="let paragraph of step.text">{{ paragraph }}</p>
      </div>
    </ng-container>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" class="continue-button" (click)="onNext()">
      {{ introContent[currentIndex].btnText }}
    </button>
    <button mat-button class="skip-button" (click)="onSkip()">Preskočiť intro</button>
  </div>
</div>
