<div class="intro-container">
  <div class="intro-image-container">
    <ng-container *ngFor="let intro of introContent; let index = index">
      <img
        *ngIf="currentIndex === index"
        [src]="'assets/intro/' + intro.image + '.jpg'"
        class="intro-image"
        [@fadeInOut]="currentIndex === index ? 'in' : 'out'"
        alt="Intro image"
      />
    </ng-container>
  </div>
  <div class="intro-text">
    <ng-container *ngFor="let intro of introContent; let index = index">
      <ng-container *ngIf="currentIndex === index">
        <p
          *ngFor="let paragraph of intro.text"
          [@slideInOut]="currentIndex === index ? 'in' : 'out'"
        >
          {{ paragraph }}
        </p>
      </ng-container>
    </ng-container>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" class="continue-button" (click)="onNext()">
      {{ introContent[currentIndex].btnText }}
    </button>
    <button mat-button class="skip-button" (click)="onSkip()">Preskočiť intro</button>
  </div>
</div>
