<div class="game-container">
  <div class="header" #header>
    <h1>Alien Negotiator</h1>
    <div class="avatar-wrapper">
      <img src="assets/icons/icon-192x192.png" alt="Alien" class="alien-image" />
    </div>
  </div>
  <div class="message-feed" #messageFeed (scroll)="onScroll()">
    <div class="space-filler"></div>
    <app-message *ngFor="let message of messages"
                 [isUserMessage]="message.isUserMessage"
                 [messageText]="message.text"
                 (scrollToBottomEvent)="scrollToBottom()"
    ></app-message>
    <app-message *ngFor="let message of messages"
                 [isUserMessage]="message.isUserMessage"
                 [messageText]="message.text"
                 (scrollToBottomEvent)="scrollToBottom()"
    ></app-message>
    <app-message *ngFor="let message of messages"
                 [isUserMessage]="message.isUserMessage"
                 [messageText]="message.text"
                 (scrollToBottomEvent)="scrollToBottom()"
    ></app-message>
    <app-message *ngFor="let message of messages"
                 [isUserMessage]="message.isUserMessage"
                 [messageText]="message.text"
                 (scrollToBottomEvent)="scrollToBottom()"
    ></app-message>
    <app-message *ngFor="let message of messages"
                 [isUserMessage]="message.isUserMessage"
                 [messageText]="message.text"
                 (scrollToBottomEvent)="scrollToBottom()"
    ></app-message>

    <div class="typing-indicator" *ngIf="isTyping">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <app-message-input (sendMessage)="testAPI($event)"></app-message-input>
</div>
