<div class="game-container">
  <div class="header">
    <h1>Alien Negotiator</h1>
    <div>
      <img src="assets/icons/icon-192x192.png" alt="Alien" class="alien-image" />
    </div>
  </div>
  <div class="message-feed">
    <div style="flex-grow: 1; min-height: 2rem;"></div>
    <app-message [isUserMessage]="true"></app-message>
    <app-message [isUserMessage]="false"></app-message>
    <app-message [isUserMessage]="true"></app-message>
    <app-message [isUserMessage]="false"></app-message>
    <app-message [isUserMessage]="true"></app-message>
    <app-message [isUserMessage]="false"></app-message>
    <app-message [isUserMessage]="true"></app-message>
    <app-message [isUserMessage]="false"></app-message>
    <app-message [isUserMessage]="true"></app-message>
    <app-message [isUserMessage]="false"></app-message>
    <app-message [isUserMessage]="true"></app-message>
    <app-message [isUserMessage]="false"></app-message>
    <app-message [isUserMessage]="true"></app-message>
    <app-message [isUserMessage]="false"></app-message>
    <app-message [isUserMessage]="true"></app-message>
  </div>
  <app-message-input></app-message-input>
</div>