
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>

    <!-- TOP TOOLBAR-->

    <mat-toolbar>
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="refreshPage()"
      >
        <mat-icon aria-label="Side nav toggle icon">replay</mat-icon>
      </button>

      <h2>Vyjednávač</h2>

      <span class="fill-space"></span>


      <button mat-icon-button (click)="openHelpModal()">
        <mat-icon>help</mat-icon>
      </button>


    </mat-toolbar>

<!--    Game-->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
