
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>

    <!-- TOP TOOLBAR-->

    <mat-toolbar>
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="refreshPage()"
      >
        <mat-icon aria-label="Side nav toggle icon">replay</mat-icon>
      </button>

      <h2>Vyjednávač</h2>

      <span class="fill-space"></span>

      <!-- DROPDOWN MENU -->

      <button mat-icon-button [matMenuTriggerFor]="menu">
<!--        <mat-icon>language</mat-icon>-->
        <mat-icon>help</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <p class="question-instructions">Presvedč Zoglorpa<br />aby nezničil Zem</p>
<!--        <p style="text-align: center">Convince Zoglorp to not destroy the Earth</p>-->
<!--        <a mat-menu-item href=""><span>🌐</span><span>Switch to Slovak</span></a>-->
      </mat-menu>
    </mat-toolbar>

<!--    Game-->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


