
mat-sidenav-container {
  height: 100%;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 64px;
    background-color: #212121;

    @media (max-width: 599px) {
      height: 56px;
    }
  }

  mat-sidenav {
    min-width: 33.3vw;

    mat-toolbar {

    }
    mat-nav-list {

      a.mat-list-item {}

    }
  }

  mat-sidenav-content {
    max-width: 560px;
    margin: auto;
    display: flex;
    flex-direction: column;

    mat-toolbar {

      button.mat-icon-button {
        mat-icon { }
      }

      h2 {
        flex-grow: 1;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
      }

      span.fill-space {}

      button.mat-icon-button {
        mat-icon { }
      }
    }



    app-game {}
    router-outlet {}

  }
}

.question-instructions {
  padding: 0 1rem;
  margin: .5rem;
  text-align: center;
  line-height: 150%;
}
