
<div class="modal-wrapper">
  <div class="modal-heading">
    <h2>Diplomat</h2>
    <button mat-icon-button class="close-button" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <hr />
    <p>Cieľ hry: Presvedč Zoglorpa<br />aby nezničil Zem</p>
    <hr />
    <p>Hru vytvoril Tomáš Bencko, počas pôsobenia v <a href="https://cassoviacode.sk/">Cassovia Code</a></p>
    <hr />
    <p>Pre svoj chod hra využíva GPT-3.5-Turbo Large Language Model</p>
  </mat-dialog-content>
</div>
